# CDKTF
__tests__
cdktf.out
jest.config.js
setup.js

# Node dependencies
node_modules

# Markdown
*.md

# Logs
logs
*.log

# Misc
.DS_Store
.idea

# Rust
**/target

# Terraform
*.tfstate
*.tfstate.*

# VS Code
.vscode
